@import "compass/reset"
@import "compass/utilities"
@import "compass/css3"

// Base font
=font-default
  font: 16px/1.4 Lato, 'Segoe UI', 'Helvetica Neue', Arial, 'Helvetica', sans-serif

// Helpers
.left
  float: left
.right
  float: right
.clear
  clear: both

// Variables
$site-max-width    : 1120px
$background-color  : hsl(40, 32%, 91%)
$background-image  : '/images/bg.jpg'
$background-repeat : repeat
$dark-bg-text-color: hsl(40, 70%, 83%)
$menu-item-color   : hsl(36, 5%, 28%)
$menu-bg-color     : hsl(40, 20%, 75%)
