@import "compass/reset"
@import "compass/utilities"
@import "compass/css3"

// Base font
=font-default
  font: 16px Lato, 'Segoe UI', 'Helvetica Neue', Arial, 'Helvetica', sans-serif

// Helpers
.left
  float: left
.right
  float: right
.clear
  clear: both

// Variables
$background-color : hsl(40, 32%, 91%)
$background-image : '/images/bg.jpg'
$background-repeat: repeat

