@import "_var"

html
  background: $background-color url("#{$background-image}") $background-repeat

body
  +font-default
  background: transparent url('/images/leaves.png') center top no-repeat

header
  background: url('/images/bg-top.png') repeat-x
  min-height: 182px
  overflow: auto
  .logo
    +transition-property(top)
    +transition-duration(.15s)
    +transition-timing-function(ease-in-out)
    background: url('/images/logo.png') no-repeat
    display: block
    float: left
    height: 98px
    margin-top: 50px
    position: relative
    top: 3px
    width: 182px
    &:hover
      opacity: .87
      top: 0
  nav
    margin-top: 75px
    height: 100px
    float: right
    li
      +border-radius(3px)
      float: left
      margin: 0 10px
      position: relative
      &.active
        $menu-bg-color: hsl(40, 20%, 75%)
        +box-shadow(hsla(40, 20%, 40%, .25) 0 3px 2px inset)
        background-color: hsla(40, 20%, 75%, .4)
        border: 1px solid hsl(40, 20%, 75%)
        border-bottom-color: lighten($menu-bg-color, 6)
        border-top-color: darken(desaturate($menu-bg-color, 5), 9)
        &:after
          bottom: -11px
          content: ''
          background: inline-image('down.png')
          display: block
          height: 11px
          left: 50%
          margin-left: -9px
          position: absolute
          width: 17px
      a
        &:link, &:visited
          color: hsl(36, 4%, 28%)
          display: block
          font:
            size: 110%
            weight: normal
          letter-spacing: 1px
          padding: 5px 10px
          text:
            decoration: none
            transform: uppercase
        &:hover, &:active
          color: #000
        &.expand
          &:after
            font-size: 68%
            content: '\25BC'
            position: relative
            margin-left: 5px
            vertical-align: top
            top: 3px

.wrapper
  margin: 0 auto
  width: 1120px

// Links
a
  color: #3366CC
  &:hover
    color: #3366CC
    text-decoration: none
  &:focus,
  &:active
    outline: none
  &:visited
