!!!
%html{ html_attrs }
  %head
    %meta{ charset: 'utf-8' }
    %title Sinatra Bootstrap
    %link{ href: '/styles/style.css', media: 'screen, projection', rel: 'stylesheet' }
    %script{ src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' }
    %script{ src: '/scripts/script.js' }

  %body
    = partial :_nav_main
    = yield
    = partial :_analytics
