!!!
%html{ html_attrs }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    %title Liam Esler
    %link{ href: 'http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel: 'stylesheet' }
    %link{ href: '/styles/screen.css', media: 'screen, projection', rel: 'stylesheet' }
    %script{ src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' }
    %script{ src: '/scripts/script.js' }

  %body
    = partial :'site/_header'
    %section.main-section
      .wrapper
        = yield
    = partial :'site/_footer'
    = partial :'site/_analytics'
