.content
  %article
    :markdown
      # Hi!
      I'm **Liam Esler**, and I'm in my final year of my Bachelor of Media degree at [Flinders University](http://www.flinders.edu.au/).

      This portfolio shows the best of my modding and game development work, in a variety of areas. I am a multidisciplinary developer, with skills in writing, design and visual art.

      My aim is to go work in the game development industry as a designer or producer. I am interested in improving all areas of my skillset, as I believe a good producer should understand and be able to work in any field of development.
%aside
  :markdown
    # Recent Projects
    * Huehuehue
.clear
