.content
  %article
    :markdown
      # Hi!
      I'm **Liam Esler**, a game developer, writer and aspiring producer currently working with Overhaul Games and Beamdog on Baldur's Gate II: Enhanced Edition. 

	  This portfolio displays the best of my various hobby projects and game development work. I'm a multidisciplinary developer, with skills in writing, design, project management, and more. 

	  I am interested in improving any and all areas of my skillset, and I would love to hear from you if I might be a good fit for your company!
-# %aside
-#   :markdown
-#     # Recent Projects
-#     * Huehuehue
.clear
