%footer.main-footer
  .wrapper
    .footer-group.footer-group-1
      :markdown
        # ©2012 Liam Esler
        Hi! I'm Liam Esler, a 3rd year Bachelor of Media student at [Flinders University](http://www.flinders.edu.au/).

        I've worked on a variety of games projects and am eager to try my hand in the industry!
    .footer-group.footer-group-2
      %h1 Links etc.
      %ul
        %li.icon.icon-link
          %a{ href: 'http://spellholdstudios.net/' } Spellhold Studios
        %li.icon.icon-link
          %a{ href: 'http://omfgdogs.com/' } BhaalKittens.com
    .footer-group.footer-group-3
      %h1 Get in touch
      %ul
        %li.icon.icon-email
          %a{ href: '#' } Email
        %li.icon.icon-phone
          %span 0123 456 789
    .footer-group.footer-group-4
      %h1 More of me
      %ul
        %li.icon.icon-twitter
          %a{ href: '#' } @kaeloree
        %li.icon.icon-facebook
          %a{ href: '#' } Facebook
        %li.icon.icon-linkedin
          %a{ href: '#' } LinkedIn

