%header
  .wrapper
    %a.logo{ href: '/' }
    %nav
      %ul
        %li.active
          %a{ href: '#about-me' } About Me
        %li
          %a.expand{ href: '#projects' } Projects
        %li
          %a{ href: '#resume' } Résumé
        %li
          %a{ href: '#contact' } Contact
