%header.main-header
  .wrapper
    %a.logo{ href: '/' }
    %nav
      %ul
        %li
          %a{ href: '#about-me' } About Me
        %li.dropdown.active
          %a{ href: '#projects' } Projects
          .dropdown-wrapper
            %ul
              %li
                .menu-icon.sammi
                %a{ href: '#' } Sammi Seahorse
              %li
                .menu-icon.something-else
                %a{ href: '#' } Something Else
              %li
                .menu-icon.project-three
                %a{ href: '#' } Project Three
        %li
          %a{ href: '#resume' } Résumé
        %li
          %a{ href: '#contact' } Contact
