%header.main-header
  .wrapper
    %a.logo{ href: '/' }
    %nav
      %ul
        %li
          %a{ href: '#about-me' } About Me
        %li.dropdown.active
          %a{ href: '#projects' } Projects
          .dropdown-wrapper
            %ul
              %li
                %a{ href: '#' }
                  .menu-icon.sammi
                  %span Sammi Seahorse
              %li
                %a{ href: '#' }
                  .menu-icon.something-else
                  %span Something Else
              %li
                %a{ href: '#' }
                  .menu-icon.project-three
                  %span Project Three
        %li
          %a{ href: '#resume' } Résumé
        %li
          %a{ href: '#contact' } Contact
