%header.main-header
  .wrapper
    %a.logo{ href: '/' }
    %nav
      %ul
        %li{ class: current_page?('about-me') }
          %a{ href: '/about-me' } About Me
        %li.dropdown{ class: current_page?('projects') }
          %a{ href: '/projects' } Projects
          .dropdown-wrapper
            %ul
              %li
                %a{ href: '/projects/arath' }
                  .menu-icon.sammi
                  %span Arath
              %li
                %a{ href: '/projects/biodome' }
                  .menu-icon.sammi
                  %span The Biodome
              %li
                %a{ href: '/projects/bg2-iep' }
                  .menu-icon.sammi
                  %span BG2 IEP
              %li
                %a{ href: '/projects/broken-hourglass' }
                  .menu-icon.sammi
                  %span Broken Hourglass
              %li
                %a{ href: '/projects/creatures-2-to-ds' }
                  .menu-icon.sammi
                  %span Creatures 2 to DS
              %li
                %a{ href: '/projects/sammi' }
                  .menu-icon.sammi
                  %span Sammi Seahorse
        %li{ class: current_page?('resume') }
          %a{ href: '/resume' } Résumé
        %li{ class: current_page?('contact') }
          %a{ href: '/contact' } Contact
