.content
  %article
    %h1 About Me
    .bordered.large.right
      %img{ src: '/images/liam.jpg', alt: 'Liam Esler' }
    .description
      :markdown
        I'm a 3rd year Bachelor of Media student at Flinders University in South Australia. I grew up in a little town to the south of Adelaide by the name of Willunga, and attended Willunga Waldorf School.

        From a young age I have been passionate about game development, and began by developing 3rd party addons for the "Creatures" Artificial Life series. Since I first joined the community in 2003, I've been an active developer and participated in a wide variety of projects.

        In 2005, I discovered [Baldur's Gate II: Shadows of Amn](http://en.wikipedia.org/wiki/Baldur%27s_Gate_2), and after a little investigative work found a large and active modding community. I began several of my own projects, and became administrator of the largest Infinity Engine modding community, Spellhold Studios, in mid 2006. I have been involved in countless projects as a writer and coder, and released a number of my own mods and characters for the game.

        In 2009 joined the team of indie RPG "The Broken Hourglass," who needed help with the creation of their ambient audio and the implementation of their sounds and music.

        As part of my final year of my Bachelor of Media, I decided that I would create a game prototype of my own. This became Sammi Seahorse, a prototype point-and-click adventure game for kids. My team and I finished development of the protoype and and exhibited it at AvCon in July 2012 to great response. For more information, check out the project page!
