.content
  %article
    %h1 About Me
    .bordered.large.right
      %img{ src: '/images/liam.jpg', alt: 'Liam Esler' }
    .description
      :markdown
      I'm a game developer, writer and aspiring producer living in Melbourne, Australia, currently working with [Overhaul Games](http://www.overhaulgames.com/) and [Beamdog](http://www.beamdog.com/) on Baldur's Gate II: Enhanced Edition. I grew up in a little town about an hour south of Adelaide, South Australia by the name of Willunga, and attended a Waldorf school. 

      From a young age I have been passionate about game development. My first forays into making games were developing 3rd party addons for the [Creatures artificial life series](http://en.wikipedia.org/wiki/Creatures_(artificial_life_series). Since I first joined the Creatures community in 2002, I've been an active developer and participated in and managed a huge variety of projects, including some of the most popular addons available.

      In 2004, I discovered Baldur's Gate II: Shadows of Amn, and after a little investigative work found a large and active modding community. I began several of my own projects, and became administrator of the largest Infinity Engine modding community, [Spellhold Studios](http://www.spellholdstudios.net), in mid 2006. I have been involved in a large number of projects as a producer, writer and coder since then, and currently have over 30 released mods under my belt.

      In 2009 joined [Planewalker Games](http://www.planewalkergames.com/) to develop their RPG "The Broken Hourglass". I taught myself basic audio manipulation, and created almost all of the ambient audio for the game, and implemented all of the music, sound effects and other audio. I was also lucky enough to contribute as a writer before the project was cancelled.

      In 2012 as part of the final year of my Bachelor of Media at Flinders University, I created a game prototype with a team of 6 students. This became Sammi Seahorse, a prototype point-and-click adventure game for kids. We were lucky enough to exhibit it at the Anime and Videogames Convention in July 2012 to great response. For more information, check out the project page!

      In March of 2013, after doing QA testing for [Baldur's Gate: Enhanced Edition](http://www.baldursgate.com), I joined Overhaul Games and Beamdog to work on [Baldur's Gate II: Enhanced Edition](http://www.baldursgateii.com) as a Scripting Team Lead and writer. Working on the actual game that convinced me to follow my passion as a developer has been amazing, and I can't wait to show what we've been working on to rest of the world!