.content.contact
  %h1 Get In Touch With Me
  %p You can contact me on any of the following websites:
  :markdown
    * [Facebook]()
    * [Twitter]()
    * [LinkedIn]()
    * [Spellhold Studios]()
    * or email me at [liam.esler@gmail.com](mailto:liam.esler@gmail.com)!
