.content.contact
  %h1 Get In Touch With Me
  %p You can contact me on any of the following websites:
  :markdown
    * [Facebook](https://www.facebook.com/liam.esler.7)
    * [Twitter](http://twitter.com/kaeloree)
    * [LinkedIn](http://www.linkedin.com/pub/liam-esler/21/488/2b2)
    * [Spellhold Studios](http://www.spellholdstudios.net)
    * or email me at [liam.esler@gmail.com](mailto:liam.esler@gmail.com)!
