.content.slider
  %article
    %h1 Arath
    .slider
      %ul.slider-controls
        %li
      %ul.slides
        %li
          .bordered.large.right
            %img{ src: '/images/projects/arath/arath-intro.jpg', alt: 'Arath' }
          .description
            :markdown
              I wanted to create a new character for Baldur's Gate II that dealt with issues of abandonment and trust, and with whom the player could become romantically entangled. Arath was the result, a charming druid-class romanceable NPC with narcisisstic tendencies and a somewhat terrible sense of humour.

              The mod features over two hundred dialogues, where Arath interacts with the player, other NPCs, and the game world.

              I wrote the majority of the mod in a two-week period, and did the scripting and the creation of his quest in the following 2 weeks before release in February 2012.

              Players have so far reacted very positively to the mod, and I am looking to update it with further content later this year.
        %li
          %img{ src: '/images/projects/arath/arath-intro.jpg', alt: 'Arath' }
  .clear
