.content
  %article
    :markdown
      # Interaction Expansion Project
      One of the primary complaints voiced by those who play Baldur's Gate II is the lack of interaction with and between characters that can join you on your quest. The NPC Interaction Expansion Project (NPCIEP) rectifies this issue by providing more inter-party "banter" and dialogue tracks between the player and NPCs, closely matching the character and speech patterns of each NPC to ensure consistency with the original game writing.

      Working with some of the best writers in the community, I managed and participated in the development of more than 100 new dialogues between party members and multiple new dialogue tracks. In addition, I engineered a new system for dialogue initiation that allowed the player a great deal of control over how often the dialogues are triggered.

      NPCIEP has been released in multiple increments since 2008. It is one of the more popular mods for Baldur's Gate II, and is regularly recommended as a "must-install" mod throughout the community.
