.content
  %article
    :markdown
      # The Biodome
      The Biodome is a mod for Creatures Docking Station which adds a new area to the game with a variety of customisation options. The area is unique in that it includes several rooms within it that have customisable environments, allowing the player to create their own unique ecosystem from flora and fauna in the game. It was also one of the first Creatures Docking Station mods in which major elements of the project were community-driven and created.

      The Biodome's background was created by taking original 3d models and compositing them with elements of all three previous games in Photoshop. As a result, the project feels like it belongs in the game world, by taking all of the best visuals of the three games and presenting them in a fresh new way.

      I organised a team of 16 people to create a total of 47 environments, including 9 that I composited myself (including the main background). I engineered all of the technical elements of the project including pioneering a new system in the CAOS scripting language to seamlessly swap out the various environments and ensure the engine treated them appropriately.

      Since the project's completion and release in November 2011 it has been very favourably received, and has become one of the community's most recommended mods.
