.content
  %article
    :markdown
      # Broken Hourglass
      The Broken Hourglass was a Black Isle style RPG in development by indie developer Planewalker Games.

      During my time working on The Broken Hourglass, I learnt the game's internal scripting system and implemented music throughout. I was also tasked to create ambient atmospheric tracks for each area-type in the game as well as creating and implementing sound effects.

      Unfortunately, the project was cancelled in 2011.
