.content
  %article
    :markdown
      # Creatures 2 to Docking Station
      The game world of "Creatures 2" is widely regarded to be the most beautiful and interesting of the entire Creatures series. Unfortuately, the Creatures 2 engine is outdated and doesn't work on many modern systems. Creatures 2 to Docking Station is an attempt to port the game to the newer "Creatures Docking Station" engine, with a number of enhancements and additions along the way.

      Working with the primary developer, I helped to plan and conceptualise the new gameplay elements to ensure they fit with the game world. I revamped and implemented flora and fauna, and did a large amount of testing and bugfixing for the initial release of the project. 

      Creatures 2 to Docking Station was first released in May 2010. It is one of the most popular mods for Creatures Docking Station, and we are currently working on a new version for release later this year.
