.content
  %article
    :markdown
      # Sammi Seahorse
      Sammi Seahorse is a protoype point-and-click adventure game in the vein of the Humungous Entertainment children's games of the 1990s. Made in Unity3D and featuring hand-painted backgounds by Cassie Mallet and Tegan Harvey as well as character designs by Anthea Wright, Sammi was made as a 3rd-year student project at Flinders University and exhibited at AvCon (the Anime and Videogame Convention) in Adelaide in July 2012.

      I conceived of and worked as the project leader, working with a small team of students during pre-production and with a programmer and three artists during the one-week production period. It features 9 different areas, several puzzles and some fantastic characters. I co-designed the game and implemented all but a few things, working in Unity3D. Despite time constraints the project was completed in time for AvCon 2012, where it was met with positive reception from kids and adults alike.

      The game does not have audio (a decision made due to AvCon's noisy environment) but is fully playable on both Mac and PC, and can be completed in 10-15 minutes. To try out the demo for yourself, download and uncompress one of the packages below.
